@font-face {
    font-family: 'Google Sans';
    src: url('../resources/fonts/GoogleSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../resources/fonts/GoogleSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Google Sans';
    src: url('../resources/fonts/GoogleSans-Bold.ttf');
    font-weight: bold;
}

html, body{
    font-family: 'Google Sans' !important;
    margin: 0 !important;
    color: #333;
}